.header {
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 300px 60px 300px;
}

.header img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
