.mark {
  color: rgb(15, 15, 16);
  background-color: rgb(244, 244, 233);
  position: static;
  padding: 20px;
}
.title-box {
  background-color: white;
  border-radius: 5px;
  height: 58px;
  width: 211px;
  margin-right: 20px;
  padding: 10px;
}
